body{
  margin: 0;
  overflow-x: hidden;
}
@font-face {
  font-family: 'old';
  src: url('fonts/OLD.ttf');
}
@font-face {
  font-family: 'quicksand';
  src: url('fonts/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('fonts/Ubuntu.ttf');
}
@font-face {
  src: url('fonts/Proxima Nova.otf');
  font-family: 'proxima nova';
}
@font-face {
  src: url('fonts/Montserrat-Medium.ttf');
  font-family: 'montserrat medium';
}
@font-face {
  src: url('fonts/Montserrat-Regular.ttf');
  font-family: 'montserrat regular';
}
@font-face {
  src: url('fonts/Proxima Nova bold.otf');
  font-family: 'proxi bold';
}
::selection{
  background-color: #a69161;
  color: #fff;
}
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #a69161;
}

::-webkit-scrollbar-track{
  background-color: #fff;
}
section{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.ham{
  position: absolute;
}
.bars{
  margin-top: 8vh;
  cursor: pointer;
  position: absolute;
  z-index: 30;
  padding-left: 5%;
}
.bar{
  height: 2px;
  width: 40px;
  background-color: #fff;
  margin-top: 1vh;
  transition: 300ms;
}
ul{
  list-style-type: none;
}
.profile{
  position: relative;
  z-index: 10;
  width: 20vw;
  height: 100vh;
  margin-left: -20vw;
  padding-top: 10vh;
  transition: 300ms all ease-in-out;
  background-color: #13171c;
}
.menu_ac{
  margin-left: 0;
}
.bar1_ac{
  /* background-color: rgb(41, 48, 59); */
  transform: rotate(45deg);
}
.bar2_ac{
  /* background-color: rgb(41, 48, 59); */
  margin-top: -2px;
  transform: rotate(-45deg);
}
.bar3_ac{
  /* background-color: rgb(41, 48, 59); */
  opacity: 0;
}
ul{
  margin-top: 5vh;
  margin-left: -40px;
}
.item{
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 25px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  color: #fff;
  transition: 300ms
}
.item:hover{
  box-shadow: inset 7px 0 0px 0px #fff;

}
.ham_img{
  height: 25vh;
  width: 25vh;
  margin: auto;
  background-image: url('assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
video{
  position: absolute;
  height: auto;
  width: 100%;
}
.tinter{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 3;
}
.header{
  width: 100%;
  font-size: 45px;
  color: #fff;

}
.landtext{
  display: inline-block;
  width: 60vw;
  padding-top: 45vh;
  position: relative;
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin-left: 20vw;
  transition: 2s;
  opacity: 0;
  z-index: 5;
  font-family: 'old';
  transform: translateY(10vh);
}
.line{
  position: absolute;
  display: inline-block;
  margin-top:50vh;
  width:20vw;
  z-index: 5;
  height: 3px;
  background-color: #fff;
  transition: 2s all ease-in-out;
  transition-delay: 500ms;
  transform: translateX(-25vw);

}
.land{
  height: 100vh;
}
.line2{
  transform: translateX(25vw);
  float: right;
}
.landtext{
  line-height: 40px;
}
.landtext span{
  font-size: 20px;
  margin-top: -70px;
  font-family: 'quicksand';
}
.bars{
  transform: translateX(50px);
}


 .aboutp{
   /* margin-top: 5vh; */
   height: 50vh;
     background-image: url('assets/logo-g.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }
 .abp{
   margin-top: 5vh;

 }
.abouthead{
  color: #000;
  font-size: 60px;
  font-family: 'Montserrat';

}
.line-h{
  height: 1px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 350px;
  background-color: #459dff;
}
.abouthead p{
  padding-top: 5vh;
  opacity: 0.7;
  font-size: 20px;
}
.abouthead a{
  color: #000;
  text-decoration: underline;
  opacity: 1;
}
.aboutbox{
  padding-left: 10vh;
}
.mission-para{
  font-size: 19px;
  width: 70%;
  margin: auto;
  font-family: 'Raleway';
}

.headers{
  color: #000;

  font-family: 'Montserrat';
  padding-top: 15vh;
}
.news{
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-image: linear-gradient(to right, #3584a7,  #30d2be);

}

.members_clan{
    height: auto;
    width: 100%;
}
.member_img{
  font-family: 'Montserrat';

    padding: 0;
    padding-bottom: 5vh;
    margin-left: 3%;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px -2px #dededede;
}
.member_img h3{
  color: #459dff;
  font-size: 20px;
  font-family: 'Raleway';
}

.card_contact{
  font-family: 'Raleway';
    height: 35vh;
    padding-top: 5vh;
    border-right: 1px solid #3584a7;
}
.card3{
  border: none;
}
footer{
  background-color: #fff;
  border-top: 0.7px solid #459dff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  opacity: 1;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  color: #459dff;
  font-size: 13px;
}
.card{
  position: relative;
  z-index: 2;
  height: 55vh;
  width: 60%;
  margin: auto;
  /* border-radius: 2%; */
  background-color: #fff;
  box-shadow: 0px 2px 15px -3px #000;
  /* border-bottom: 5vh solid #252525; */
}
.divider{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.mission{
  background-image: url('assets/missionbg.png');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20vh !important;
}
.half{
  width: 50%;
  padding-top: 7%;
  height: 100%;
  display: inline-block;
}
.h2{
  padding-top: 5%;
  float: right;
}
.header{
  margin-left: 10%;
  font-size: 40px;
  color: #3584a7;
  font-family: 'Montserrat';
}
.line-c {
  height: 10px;
  margin-left: 10.5%;
  width: 50px;
  margin-top: 2%;
  background-color: #3584a7;
}
.abp{
  background-image: url('assets/bro.jpg');
}
input{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #3584a7;
  font-size: 18px;
  padding: 10px;
  color: #3584a7;
  width: 60%;
  margin-top: 1vh;
  margin-left: 4vw;
  font-family: 'Raleway';
  font-weight: lighter;
}
button{
  padding: 12px 30px 12px 30px;
  margin-left: 10vw;
  margin-top: 5vh;
  font-family: 'Montserrat';
  border: none;
  outline: none;
  border: 1px solid #3584a7;
  cursor: pointer;
  font-size: 15px;
  color: #3584a7;
  transition: 300ms;
}
button:hover{
  color: #fff;

  background-color: #3584a7;

}
.fa{
  font-size: 40px;
}
video{
  margin-top: -5%;
}
#mess{
  padding-top: 30px;
}
.overflow{
  overflow: hidden;
}
@media screen and (min-width:700px) {
  .member_img{
    width: 30%;
  }
  .bar1_ac{
    margin-left: 150px;
  }
  .bar2_ac{
    margin-left: 150px;
  }
  .bar3_ac{
    margin-left: 150px;
  }

}
@media screen and (max-width:700px) {
  body{

  }
  .line{
    display: none;
  }
  .card{
    width: 90%;
  }
  .header{
    font-size: 30px;
  }
  .line{
    height: 5px;
    width: 40px;
  }
  input{
    width: 80%;
  }
}

.white{
  background-color: #fff;
}
@media screen and (max-width: 700px){
    div{
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: auto !important;
    }
    p{
      width: 80%;
      margin: auto;
    }
    .card_contact{
        border: none;
    }
    .container{
      padding-right: 0;
    }

    section{
      width: 100%;
    }
    /* ul, .item, .navbrand.line3{
      display: none;
    } */
    /* .nav1{
      width: 100%;
    }
    .intro{
      padding-top: 60%;
      width: 100%;
    } */
    .landhead{
      font-size: 60px;
    }
    /* .box{
      width: 40%;
    }
    .slogan{
      font-size: 15px;
    }
    .brand-name{
      width: 20%;
      font-size: 13px;
      letter-spacing: 2px;
    }

    .bars{
      display: block;
      right: 10%;
    } */
    .ham{
      display: block;
      width: 100%;
    }
    .line{
      width: 100px;
    }
    .profile{
      width: 100%;
      margin-left: -100vw;
    }
     .menu_ac{

      margin-left: 0 !important;
    }

    footer{
      width: 100%;
    }
    video{
      display: none;
    }
    .tinter{
      background-image: linear-gradient(to right, #3584a7,  #30d2be);
      opacity: 1;
    }
    .landtext{
    width: 100vw;
    padding-top: 45vh;
    position: relative;
    font-size: 70px;
    color: #fff;
    margin-left: 0;
    text-align: center;
    transition: 2s;
    opacity: 0;
    z-index: 5;
    font-family: 'old';
    line-height: 70px;
    transform: translateY(10vh);
    }

}
.active{
  transform: translate(0px, 0px);
  opacity: 1;
}
